* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.stage {
  background: rgba(100, 200, 0, 0.4);
  height: 600px;
  border: 4px solid pink;
  overflow: hidden;
}

.stage {
  display: grid;
}

.stage > div {
  border: 1px dashed yellow;
  padding: 2px;
  background: grey;
}

/* 通过 margin 模拟 gap，不是最优但基本可以达到效果 */
.stage > div {
  margin: 8px;
}

.stage-1 {
}

.stage-4 {
}

.stage-9 {
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
}

.stage-9 > div:nth-child(3n) {
  background: orange;
}

.stage-16 {
}
