* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.stage {
  background: rgba(100, 100, 0, 0.3);
  /* height: 500px; */
  height: 600px;
  border: 4px solid pink;
  overflow: hidden;
}

.stage {
  display: grid;
  /* gap: 10px 6px; */
  /* gap: auto; */
  /* gap: 20px; */
  /* grid-gap: 10px; */
}

.stage-1 {
}

.stage-4 {
}

.stage-9 {
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, 33.33%); */
  /* grid-template-columns: 33.33% 33.33% 33.33%; */
  grid-template-columns: calc(33.33% - 10px) calc(33.33% - 10px) calc(33.33%);

  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, 33.33%); */
  /* grid-template-rows: 33.33% 33.33% 33.33%; */
  grid-template-rows: calc(33.33% - 10px) calc(33.33% - 10px) calc(33.33%);
  grid-gap: 10px;
}

.stage-9 > div {
}

.stage-16 {
}

.stage > div {
  border: 1px dashed yellow;
  padding: 2px;
}
